<div class="row top-buffer">
  <div class="col-sm-12">
    <h1 class="text-center">Survey Results:</h1>
    <hr/>
  </div>
</div>

<div class="row">
  <div class="col-sm-12"><h2 class="h4"><%= survey.title %></h2></div>
  <div class="col-sm-12"><p><%= survey.description %></p></div>
</div>

<div class="row bottom-buffer">
  <div class="col-sm-12">
    <em><%= survey.answer_count %> responses</em>
  </div>
</div>

<% survey.questions.each_with_index do |q, i| %>
    <div class="row bottom-buffer">
      <div class="col-sm-12">
        <p><strong><%= "#{i + 1}. #{q.body}" %></strong></p>
      </div>

      <div class="col-sm-6">
        <table class="table table-striped table-bordered table-sm">
          <thead class="thead-light">
          <tr>
            <th>Response</th>
            <th>Count</th>
          </tr>
          </thead>
          <tbody>
          <% q.question_options.each do |answer| %>
              <tr>
                <td><%= answer.body %></td>
                <td><%= answer.picked_count %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
<% end %>