<div class="row top-buffer">
  <div class="col-sm-12">
    <h1 class="text-center">Survey Taker:</h1>
    <hr/>
  </div>
</div>

<div class="row">
  <div class="col-sm-12"><h2 class="h4"><%= survey.title %></h2></div>
  <div class="col-sm-12"><p><%= survey.description %></p></div>
  <div class="col-sm-12">
    <p class="text-secondary"><em>Questions marked with an asterisk(*) are required</em></p>
  </div>
</div>

<div class="row bottom-buffer">
  <div class="col-sm-12">
    <%= form_tag take_survey_tally_path(survey) do %>
        <% questions.each_with_index do |inquiry, i| %>
            <%= hidden_field_tag "questions[#{i}][text]", inquiry.question.body %>

            <p>
              <strong>
                <%= MultiQuestionDecorator.new(inquiry.question).display_html(i + 1) %>
              </strong>
              <br>
              <% if inquiry.error_msg.present? %>
                <span class="text-danger">
                  <%= inquiry.error_msg %>
                </span>
              <% end %>
            </p>

            <% if inquiry.question.multipart? %>
                <%= render partial: 'check_fields_for_question',
                           locals: { inquiry: inquiry, i: i } %>
            <% else %>
                <%= render partial: 'radio_fields_for_question',
                           locals: { inquiry: inquiry, i: i } %>
            <% end %>

        <% end %>
        <div class="col-sm-12">
          <%= submit_tag 'Submit your survey', class: 'btn btn-primary btn-block' %>
        </div>
    <% end %>
  </div>
</div>