<div class="row">
  <div class="col-sm-12">
    <h1 class="text-center">Survey Builder</h1>
    <hr/>
  </div>
  <div class="col-sm-4 offset-sm-2 border border-dark border-left-0 border-bottom-0 border-top-0">
    <h2 class="h4"><span class="text-secondary">1. Build survey</span></h2></div>
  <div class="col-sm-6"><h2 class="h4">2. Add questions</h2></div>
</div>

<div class="text-secondary">
  <div class="row">
    <div class="col-sm-12 top-buffer">
      <p>Next, add a question</p>
    </div>
    <h3 class="h4 col-sm-12">Title:</h3>
    <p class="col-sm-12"><%= survey.title %></p>
  </div>
  <div class="row">
    <h3 class="h4 col-sm-12">Description:</h3>
    <p class="col-sm-12"><%= survey.description %></p>
    <hr class="col-sm-12"/>
  </div>
</div>

<section class="add-question">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="h3 text-center">Add a multiple choice question:</h1>
    </div>
    <div class="col-sm-4 offset-sm-2 border border-dark border-left-0 border-bottom-0 border-top-0">
      <h2 class="h5">1. Select options</h2></div>
    <div class="col-sm-6"><h2 class="h5"><span class="text-secondary">2. Add question text</span></h2></div>
  </div>
  <div class="row top-buffer">
    <%= form_tag survey_add_question_path(survey),
                 { method: :get, class: 'col-sm-12' } do %>
        <div class="form-group">
          <label for="num_options"><em>How many options should the question have?</em></label>
          <%= select_tag :num_options,
                         options_for_select(%w(1 2 3 4 5)),
                         class: 'form-control' %>
        </div>

        <div class="form-group">
          <p><em>How many options can be selected?</em></p>
          <div class="form-check">
            <label class="form-check-label">
              <%= radio_button_tag :multipart, 'false', true,
                                   class: 'form-check-input' %>
              Just one
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <%= radio_button_tag :multipart, 'true', false,
                                   class: 'form-check-input' %>
              Multiple
            </label>
          </div>
        </div>

        <div class="form-group">
          <p><em>Is this question required?</em></p>
          <div class="form-check">
            <label class="form-check-label">
              <%= radio_button_tag :question_required, 'true', true,
                                   class: 'form-check-input' %>
              Yes
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <%= radio_button_tag :question_required, 'false', false,
                                   class: 'form-check-input' %>
              No
            </label>
          </div>
          <%= submit_tag 'Continue to next step',
                         class: 'btn btn-primary btn-block top-buffer' %>
        </div>
    <% end %>
  </div>
</section>

<div class="row">
  <hr class="col-sm-12 top-buffer"/>
  <h3 class="h4 col-sm-12">Existing questions:</h3>
  <p class="col-sm-12">There are no questions, yet!</p>
</div>