<div class="row">
  <div class="col-sm-12">
    <h1 class="text-center">Survey Builder</h1>
    <hr/>
  </div>
  <div class="col-sm-4 offset-sm-2 border border-dark border-left-0 border-bottom-0 border-top-0">
    <h2 class="h4">1. Build survey</h2></div>
  <div class="col-sm-6"><h2 class="h4"><span class="text-secondary">2. Add questions</span></h2></div>
  <div class="col-sm-12 top-buffer">
    <p>First, choose a title and a description for your survey</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <%= form_for survey do |f| %>
        <div class="form-group error">
          <%= f.label :title, 'Survey title', class: 'h4' %>
          <%= f.text_field :title, { placeholder: 'eg. "The personality test"', class: 'form-control' } %>
        </div>
        <div class="form-group error">
          <%= f.label :description, 'Survey description', class: 'h4' %>
          <%= f.text_area :description,
                           { placeholder: 'eg. "Discovering what is unique about all you crazy people"',
                             class: 'form-control' } %>
        </div>
        <%= f.submit 'Create survey and begin adding questions', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>