<div class="row">
  <div class="col-sm-12">
    <h1 class="text-center">Survey Builder</h1>
    <hr/>
  </div>
  <div class="col-sm-4 offset-sm-2 border border-dark border-left-0 border-bottom-0 border-top-0">
    <h2 class="h4"><span class="text-secondary">1. Build survey</span></h2></div>
  <div class="col-sm-6"><h2 class="h4">2. Add questions</h2></div>
  <div class="col-sm-12 top-buffer">
    <p>Next, add a question</p>
  </div>
</div>

<div class="row">
  <h3 class="h4 col-sm-12">Title:</h3>
  <p class="col-sm-12"><%= survey.title %></p>
</div>
<div class="row">
  <h3 class="h4 col-sm-12">Description:</h3>
  <p class="col-sm-12"><%= survey.description %></p>
  <hr class="col-sm-12"/>
</div>

<div class="row">
  <h3 class="h4 col-sm-12">Add a questions:</h3>
  <p class="col-sm-12"><em class="text-secondary">Choose which type of question to add.</em></p>
  <%= form_tag(survey_add_question_path(survey),
               { method: :get, class: 'col-sm-12' }) do %>
      <div class="form-group">
        <%= select_tag 'question_type',
                       options_for_select(['Multiple Choice']),
                       class: 'form-control' %>
      </div>
      <%= submit_tag 'Add a new question', class: 'btn btn-primary btn-block' %>
  <% end %>
</div>

<div class="row">
  <hr class="col-sm-12 top-buffer"/>
  <h3 class="h4 col-sm-12">Existing questions:</h3>
  <% unless survey.questions.any? %>
      <p class="col-sm-12">There are no questions, yet!</p>
  <% end %>
  <% questions.each_with_index do |q, i| %>
      <div class="col-sm-12">
        <p><strong><%= "#{i + 1}. #{q.body}" %></strong></p>
        <p class="text-secondary">
          <em><%= q.requirement %></em>&nbsp;&nbsp;&nbsp;
          <em><%= q.selection_type %></em>
        </p>

        <ul class="list-unstyled">
          <% q.question_options.each_with_index do |opt, i| %>
          <li><%= QuestionOptionDecorator.new(opt).text(i) %></li>
          <% end %>
        </ul>
      </div>
  <% end %>
</div>